body{
    /* background: -webkit-repeating-radial-gradient(top left, circle, red, blue 10%, red 20%);
    background-repeat: repeat-y; */

    /* background-image: linear-gradient(360deg, red, yellow); */

    background-image: -webkit-radial-gradient(circle, white, black);
   overflow: hidden;
}


h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    letter-spacing: 1px;
    margin-left: 80px;
}
   
   

.container{
    margin-left:250px ;
    justify-content: center;
    width: 50%;
    /* background:#fff; */
    /* border:1px solid black; */
    border-radius: 10px;
    padding: 50px;
}


form{
    margin-left: 150px;;
}

input{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(122, 128, 132);
    border: 3px solid rgb(102, 99, 99);
    border-radius: 3px;
    cursor: pointer;
}

button{
    color: #fff;
    background:black;
    padding: 10px;
    cursor: grab;
    font-size:1rem;
    font-weight: bold;
}


.links{
    margin-left: 280px;
}


a{
    color: rgb(30, 6, 6);
    margin: 0px 80px;
    margin-top: 20px;
}



